.footer {
    padding: 20px 0;
    background-color: #E595E5; /* Adjust based on your color scheme */
    color: #000;
}

.footer-content {
    display: flex;
    justify-content: space-between;
    align-items: center;
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 20px;
}

.footer-logo img {
    max-width: 150px;
}

.footer-links {
    display: flex;
    gap: 20px;
}

.footer-links a {
    color: #000;
    text-decoration: none;
    transition: color 0.3s ease;
}

.footer-links a:hover {
    color: #A7A7A7;
}

.footer-social a {
    margin-left: 20px;
    color: #FFF;
    text-decoration: none;
    transition: color 0.3s ease;
}

.footer-social a:hover {
    color: #A7A7A7;
}

.footer-copyright {
    text-align: center;
    margin-top: 20px;
    font-size: 0.9em;
}
